<section class="resume-section about">
    <div class="jumbotron">
        <h1 class="heading">
            <span class="highlight">Lykourgos</span> Tsirikos
        </h1>
        <div class="sub-heading">
            Web Developer <span>&bull;</span>
            Bristol, U.K. <span>&bull;</span>
            (+44) 07521 173 049 <span>&bull;</span>
            lykourgos.tsirikos@gmail.com
        </div>
        <div class="lead">
            I'm a full stack developer from Glyfada, Greece based in Bristol U.K. My focus is on the development of custom websites and web applications by writing clean and readable code, following the best practices.
        </div>
    </div><!-- /.jumbotron -->
</section><!-- /.about -->