<section class="resume-section about">
    <div class="jumbotron">
        <h1 class="heading">
            <span class="highlight">Lykourgos</span> Tsirikos
        </h1>
        <div class="sub-heading">
            <div class="sh job"><i class="fas fa-briefcase"></i> Web Developer <span>&bull;</span></div>
            <div class="sh location"><i class="fas fa-map-marker-alt"></i> Bristol, U.K. <span>&bull;</span></div>
            <div class="sh phone"><i class="fas fa-phone"></i> (+44) 07521 173 049 <span>&bull;</span></div>
            <div class="sh email"><i class="fas fa-at"></i> <img src="/assets/img/email.png"></div>
        </div>
        <div class="lead">
            I'm a mid-level Full-stack developer from <a href="https://en.wikipedia.org/wiki/Glyfada" target="_blank">Glyfada</a>, Greece based in Bristol U.K. I enjoy working on the development of custom websites and web applications and I always try to write clean and readable code, following the best practices.
        </div>
    </div><!-- /.jumbotron -->

    <div class="objective">
        <h2 class="section-heading">My Objective</h2>
        <p class="lead highlight">I strongly believe there's no limit to professional development in my job.</p>
        <p>Currently looking for opportunities as a <span class="highlight">Front-end Developer</span> or <span class="highlight">Full-stack Developer</span> with the option to transition to the Front-end. I enjoy the challenges of the front-end work and I’m familiar with vanilla JavaScript and with some JS frameworks/libraries like React and jQuery. I’m also good with HTML and CSS (Sass, Css Grid, Flexbox). On the back-end I've always enjoyed coding in <span class="highlight">OOP</span> and working with <span class="highlight">MVC frameworks</span> such as Laravel.</p>
        <p>I like working in <span class="highlight">agile teams</span> where they don't afraid to experiment with new tech stacks, use the <a href="https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow" target="_blank">Gitflow</a> as a workflow for their daily tasks, do regular <span class="highlight">code reviews</span> via pull requests and do <span class="highlight">pair programming</span>. Finally I always like be part of a <span class="highlight">nice and friendly</span> working environment.</p>
    </div>
</section><!-- /.about -->