<section class="resume-section about">
    <div class="jumbotron">
        <h1 class="heading">
            <span class="highlight">Lykourgos</span> Tsirikos
        </h1>
        <div class="sub-heading">
            <div class="sh job"><i class="fas fa-briefcase"></i> Web Developer <span>&bull;</span></div>
            <div class="sh location"><i class="fas fa-map-marker-alt"></i> Bristol, U.K. <span>&bull;</span></div>
            <div class="sh phone"><i class="fas fa-phone"></i> (+44) 07521 173 049 <span>&bull;</span></div>
            <div class="sh email"><i class="fas fa-at"></i> <img src="/assets/img/email.png"></div>
        </div>
        <div class="lead">
            I'm a full-stack developer from <a href="https://en.wikipedia.org/wiki/Glyfada" target="_blank">Glyfada</a>, Greece based in Bristol U.K. I enjoy working on the development of custom websites and web applications and I always try to write clean and readable code, following the best practices.
        </div>
    </div><!-- /.jumbotron -->
</section><!-- /.about -->