<hr id="experience" />

<section class="resume-section experience">
    <h2 class="section-heading">Experience</h2>

    {% for job in site.data.experience %}
        <div class="experience-item">
            <div class="experience-content">
                <h3 class="experience-heading">
                    <span class="role">{{ job.job_title }}</span>
                    <span class="company"> @ <a href="{{ job.link }}" target="_blank">{{ job.company_info }}</a></span>
                </h3>
                <div class="experience-subheading">
                    <span>{{ job.location }}</span> &bull; <span>{{ job.date }}</span>
                </div>
                <div class="experience-description">
                    {{ job.description }}
                </div>
            </div><!-- /.experience-content -->

        </div><!-- /.experience-item -->
    {% endfor %}

</section><!-- /.experience -->