<hr id="experience" />

<section class="resume-section experience">
    <h2 class="section-heading">Experience</h2>

    {% for job in site.data.experience %}
        <div class="experience-item">
            <div class="experience-content">
                <h3 class="experience-heading">{{ job.job_title }}</h3>
                <div class="experience-date">
                    <span>{{ job.date }}</span>
                </div><!-- /.experience-date -->
                <div class="experience-subheading">
                    <a href="{{ job.link }}" target="_blank">{{ job.company_info }}</a> &bull; {{ job.location }}
                </div>
                <div class="experience-description">
                    {{ job.description }}
                </div>
            </div><!-- /.experience-content -->

        </div><!-- /.experience-item -->
    {% endfor %}

</section><!-- /.experience -->