<hr id="interests" />

<section class="resume-section interests">
    <h2 class="section-heading">Interests</h2>
    <div class="interests-description">
        <p>Apart from being a <span class="highlight">web developer</span>, I enjoy most of my time being outdoors. I enjoy swimming (try to go to the swimming pool after work 3-4 times/week), climbing and doing long walks.</p>
        <p>When forced indoors, I usually like watching movies or series on Netflix, experiment on new recipes and I also try to spend at least one hour every day exploring some of the latest technology stacks in the web development world.</p>
    </div>
</section><!-- /.interests -->