<nav class="nav">
    <div class="nav-inner">
        <div class="nav-main">
            <a href="#top" class="nav-brand">
                <img src="assets/img/lykourgos.png" alt="{{ page.title }}">
            </a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    {% for item in site.data.menuItems %}
                        <li class="nav-item">
                            <a class="nav-link" href="#{{ item.link }}">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.navbar-main -->

        <div class="social-icons">
            <a href="https://www.linkedin.com/in/lykourgostsirikos" target="_blank" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/ltdev22?tab=repositories" target="_blank"  class="social-icon">
                <i class="fab fa-github"></i>
            </a>
        </div><!-- /.navbar-social -->
    </div><!-- /.nav-inner -->
</nav>