<nav class="nav">
    <div class="nav-inner">
        <div class="nav-main">
            <a href="#" class="hamburger-menu mobile-visible" onclick="event.preventDefault();toggleMobileMenu();">
                <i class="fa fa-bars"></i>
            </a>
            <a href="#top" class="nav-brand nav-target">
                <img src="assets/img/lykourgos.png" alt="{{ page.title }}" class="desktop-visible">
                <span class="brand-name mobile-visible">Lykourgos Tsirikos</span>
            </a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    {% for item in site.data.menuItems %}
                        <li class="nav-item">
                            <a class="nav-link nav-target" href="#{{ item.link }}">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.navbar-main -->

        <div class="social-icons desktop-visible">
            {% for social in site.data.socials %}
                <a href="{{ social.link }}" target="_blank" class="social-icon">
                    <i class="fab fa-{{ social.icon }}"></i>
                </a>
            {% endfor %}
        </div><!-- /.navbar-social -->
    </div><!-- /.nav-inner -->
</nav>