.main-content {
    background-color: $light-color;
    padding: 60px 12rem 20px 26rem;
    height: 100vh;
    @media (max-width: 1023px) {
        padding-left: 20rem;
        padding-right: 2rem;
    }
    @media (max-width: 767px) {
        padding: 100px 2rem 20px 2rem;
    }

    .resume-section {
        min-height: 80vh;
        padding: 3rem 0;
        &:first-child {
            padding-top: 0;
        }
        @media (max-width: 1023px) {
            min-height: 30vh;
        }

        h2.section-heading {
            font-size: 3.5rem;
            text-transform: uppercase;
            margin-bottom: 3rem;
            @media (max-width: 767px) {
                font-size: 2rem;
            }
        }
        .sub-heading {
            text-transform: uppercase;
            margin-bottom: 1.5rem;
        }

        .lead {
            font-size: 1.45rem;
            margin: 3rem 0;
            line-height: 1.5;
            @media (max-width: 767px) {
                font-size: 1.2rem;
            }
        }
    }

    hr {
        margin: 3rem auto;
        width: 170px;
    }

    p {
        margin-bottom: 1.2rem;
    }

    .highlight {
        color: $base-color;
        font-weight: 700;
    }

    a {
        color: $base-color;
        text-decoration: none;
        border-bottom: 1px dashed $base-color;
        &:hover {
            border: none;
        }
    }

    .lower {
        text-transform: lowercase!important;
    }
}