.nav {
    font-family: 'Roboto Slab', 'Open Sans', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 22em;
    @media (max-width: 1023px) {
        width: 18rem;
    }
    @media (max-width: 767px) {
        width: 100%;
        border-bottom: 2px solid #007400;
        z-index: 10;
    }
}
.nav-inner {
    background-color: $base-color;
    color: $light-color;
    padding: 20px;
    padding-top: 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    @media (max-width: 767px) {
        height: unset;
        padding: 10px;
        text-align: left;
        align-items: unset;
    }

    a.hamburger-menu {
        float: right;
        margin-right: 1rem;
        padding: 5px 10px;
        border: 2px solid $light-color;
        border-radius: 18%;
        color: $light-color;
    }

    .nav-brand {
        img {
            max-width: 12rem;
            max-height: 12rem;
            border-radius: 50%;
            border: 2px solid rgba($light-color,.4);
            transition: 0.3s;
            &:hover {
                border-color: $light-color;
            }
        }
        @media (max-width: 767px) {
            font-size: 20px;
            color: $light-color;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
        }
    }

    .navbar-nav {
        margin-top: 40px;
        .nav-item {
            display: block;
            padding: .8rem 1rem;
        }
        .nav-link {
            display: block;
            font-size: 22px;
            color: rgba($light-color,.8);
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: .05rem;
            transition: 0.3s;
            &:hover {
                color: $light-color;
            }
        }
        .nav-item.active {
            .nav-link {
                color: $light-color;
            }
        }
        @media (max-width: 767px) {
            margin-top: 10px;
            .nav-item {
                padding: .4rem 1rem;
                .nav-link {
                    font-size: 18px;
                }
            }
        }
    }

    .collapse {
        @media (max-width: 767px) {
            display: none;
        }
    }
}