.nav {
    background-color: $base-color;
    color: $light-color;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .nav-brand {
        img {
            max-width: 12rem;
            max-height: 12rem;
            border-radius: 50%;
            border: 2px solid rgba($light-color,.4);
            transition: 0.3s;
            &:hover {
                border-color: $light-color;
            }
        }
        margin-bottom: 20px;
    }

    .navbar-nav {
        .nav-item {
            display: block;
            padding: .8rem 1rem;
        }
        .nav-link {
            display: block;
            font-size: 22px;
            color: rgba($light-color,.8);
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: .05rem;
            transition: 0.3s;
            &:hover {
                color: $light-color;
            }
        }
    }
}