html {
    //scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', 'Roboto Slab', 'Open Sans', sans-serif;
    color: $text-color;
    font-size: 16px;
    line-height: 1.5;
    @media (max-width: 767px) {
        text-align: center;
    }
}

.social-icons {
    margin-top: 40px;
    .social-icon {
        display: inline-block;
        height: 3.5rem;
        width: 3.5rem;
        background-color: $text-color;
        color: $light-color;
        border-radius: 100%;
        text-align: center;
        font-size: 1.5rem;
        line-height: 3.5rem;
        margin-right: 1rem;
        .fab {
            padding-top: 16px;
        }
    }
    @media (max-width: 767px) {
        display: none;
    }
}

.desktop-visible {
    display: block;
    @media (max-width: 767px) {
        display: none;
    }
}

.mobile-visible {
    display: none;
    @media (max-width: 767px) {
        display: block;
    }
}

.mob-footer {
    margin-bottom: 40px;
}
