html {
    //scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', 'Roboto Slab', 'Open Sans', sans-serif;
    color: $text-color;
    font-size: 16px;
    line-height: 1.5;
}

.desktop-visible {
    display: block;
    @media (max-width: 767px) {
        display: none;
    }
}

.mobile-visible {
    display: none;
    @media (max-width: 767px) {
        display: block;
    }
}

