.skills {
    .dev-skills {
        font-size: 6rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content:flex-start;
        li {
            display: inline-block;
            margin-right: 4%;
            margin-bottom: 4%;
            span {
                display: block;
                font-size: 14px;
                text-align: center;
            }
        }
    }
}

